<form class="ui form">
  <%= form_with(model: [@list, @task], local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :task_name %>
      <%= f.text_field :task_name, class: "input" %>
    </div>
      <div class="field">
      <%= f.label :task_priority %>
      <%= f.number_field :task_priority, class: "input" %>
    </div>
    <div class="field">
      <%= f.label :task_description %>
      <%= f.text_field :task_description, class: "input" %>
    </div>

  <%= f.submit nil, class: "ui blue button" %>
  <% end %>
</form>